/* body {
  background-color: rgb(2, 172, 181);
  /* padding: 10px 10px; */
  /* padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
} */



/* .App{
  background-color: rgb(107, 248, 255);
} */ 
